@import "./fonts.css";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  * {
    break-inside: avoid;
  }

  .shadow-sm,
  .shadow-lg {
    box-shadow: none !important;
  }

  .rounded-2xl {
    border-radius: 12px !important;
  }
}

@layer utilities {
  .hairline {
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.05);
  }
  
  .dark .hairline {
    border-color: rgba(255, 255, 255, 0.1);
  }
}