@import "./fonts.css";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  * {
    break-inside: avoid;
  }

  .shadow-sm,
  .shadow-lg {
    box-shadow: none !important;
  }

  .rounded-2xl {
    border-radius: 12px !important;
  }
}