:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #111111;

  --card: #ffffff;
  --card-foreground: #111111;

  --primary: #030213;
  --primary-foreground: #ffffff;

  --secondary: #f1f1f5;
  --secondary-foreground: #030213;

  --muted: #ececf0;
  --muted-foreground: #717182;

  --accent: #e9ebef;
  --accent-foreground: #030213;

  --destructive: #d4183d;
  --destructive-foreground: #ffffff;

  --border: rgba(0, 0, 0, 0.1);
  --input-background: #f3f3f5;
  --radius: 10px;
}

.dark {
  --background: #111111;
  --foreground: #ffffff;

  --card: #111111;
  --card-foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #222222;

  --secondary: #333333;
  --secondary-foreground: #ffffff;

  --muted: #333333;
  --muted-foreground: #aaaaaa;

  --accent: #333333;
  --accent-foreground: #ffffff;

  --border: #333333;
}